body {
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      background-color: black
}

.background {
      display: block;
      position: absolute;
      background-image:url('./assets/16-9-map.webp'); /*TODO: tenir una imatge de 16/9*/
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0;
      padding: 0;
      z-index: -1;
  }
  
  .zone {
    background-color: yellow;
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 25%;
  }

  .description {
      background-color: red;
      width: 112px;
      height: 62px;
      position: absolute;
    }

.hidden {
      display: none;
}

.shown {
      display: block;
}